section.entry {
    text-align: left;
    max-width: 80%;
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

p {
    margin-left: 2em;
}

div {
    flex-direction: row;
    justify-content: flex-start;
};


/* Image Styling */
figure {
    margin: 1rem auto;
    text-align: center;
}

img {
    width: 20rem;
    max-width: auto;
    border-radius: 2em;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
