section {
    text-align: left;
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

p#info{
    padding: 2em;
    margin-top: 5em;
}


/* Image Styling */
figure {
    margin: 1rem auto;
    text-align: center;
}

img {
    width: 20rem;
    max-width: auto;
    border-radius: 2em;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

img:hover {
    transform: scale(1.05);
}
